/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #171728;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  opacity: 0.5;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 22px 40px;
  text-decoration: none;
  font-size: 28px;
  font-family: Georgia;

}

/* Change color on hover */
.navbar a:hover {
  background-color: white;
  color: black;
}

/* Active/current link */
.navbar a.active {
  //background-color: purple;
  color: white;
}



/* Name Text Animation */
.name-text {
  text-align: center;
  color: white;
  font-size: 200px;
  padding: 10px;
  animation-name: example;
  animation-duration: 2s;
  opacity: 0.7;
  font-family: Georgia;
}

/* Standard syntax */
@keyframes example {
  from {color: purple;}
  to {color: white;}
}

.name-text span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 2s;
}

.name-text:hover span {
  padding-top: 0px;
  color: purple;
}

.name-text:hover span:after {
  opacity: 1;
  right: 0;
}

.dropbtn {
  background-color: #171728;
  color: white;
  padding: 22px;
  font-size: 28px;
  border: none;
  font-family: Georgia;

}

.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 140px;
  float: right;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #171728;
  min-width: 60px;


}

.dropdown-content a {
  color: white;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white; color: black;}

