/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #171728;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  opacity: 0.5;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 22px 40px;
  text-decoration: none;
  font-size: 22px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: white;
  color: black;
}

/* Active/current link */
.navbar a.active {
  //background-color: purple;
  color: white;
}



/* Name Text Animation */
.name-text {
  text-align: center;
  color: white;
  font-size: 200px;
  padding: 160px;
  animation-name: example;
  animation-duration: 2s;
  opacity: 0.7;
}

/* Standard syntax */
@keyframes example {
  from {color: purple;}
  to {color: white;}
}

.name-text span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 2s;
}

.name-text:hover span {
  padding-top: 0px;
  color: purple;
}

.name-text:hover span:after {
  opacity: 1;
  right: 0;
}

/*
 * Hamburger Menu
 * Help from: https://codepen.io/erikterwan/pen/grOZxx
 */

html {
	overflow-x: hidden;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 40px;
  right: 22px;
  opacity: .5;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{

  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
 
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
			  
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;

  
  background: #171728;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color: white;
  text-decoration: none;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}
